.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    
    &--primary {
        background-color: #4F2AC3;
        color: #fff;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }

    @media (min-width: 641px) and (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}